<!doctype html>
<html>
<head>
  <title>Four Alarm</title>
  <meta name="viewport" content="initial-scale:1.0, user-scalable=no" />
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="map"></div>
  <div id="visualization-controls">
      <label for="category-id">Category Overlay:</label>
      <select id="category-id" disabled>
        <option class="placeholder" value="placeholder">Loading...</option>
      </select>
      <progress class="loading"></progress>
      <br>
      <label for="heatmap-radius">Heatmap Radius:</label>
      <input id="heatmap-radius" type="range" min="0" max="200" value="1">
    </div>

  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=visualization"></script>
  <script src="underscore.js"></script>
  <script src="app.js"></script>
</body>
</html>



